PORT=4000

DATABASE_URL=

REDIS_URL=

ELASTICSEARCH_URL=

NODE_ENV=development

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587

WORKER_CONCURRENCY=5

DEFAULT_MIN_DELAY_MS=0
DEFAULT_HOURLY_LIMIT=100